/* Devins Custom CSS for Bitmoto */

/* All Pages */

#bitmoto {background-color:white;max-width:950px;margin: 0 auto 8px;padding:0 0 4px 0; color: #333;}
#bitmoto img {max-width:100%}
#bitmoto .highlight {width:95%;margin:18px auto;background-color:#f0f0f0;padding:14px 2%;color:#333;text-transform: none;font-weight: normal;}
#bitmoto-signature {font-family:cursive;font-size:16px;color:#444;padding:4px}
#bitmoto-signature a {font-family:roboto,arial;text-decoration:none;color:#333;font-size:12px}
#bitmoto-signature a span {font-family:cursive;font-size:16px;color:#444;padding:4px}
#bitmoto .intro {background: #f0f0f0;width: 95%;border-radius: 4px;padding: 2%;margin: 9px auto 2px;color:#555;}
#bitmoto #vid {text-align: center;margin: auto;border-top: 1px lightgray solid;padding: 18px 0 0 0;}
#bitmoto #disclaimer {color: gray;font-size: 10px;margin: 18px 0;border-top: 1px solid #f0f0f0; padding:2%}
#bitmoto iframe {margin:auto;}
#bitmoto nav {width:100%;text-align: center;font-weight: bold;border-top: 3px #999 solid;font-size: 20px;min-width: 420px;}
#bitmoto nav a {text-decoration: none;padding: 10px 0;display: inline-block;width: 23%;min-width: 99px;}


/* Sales Pages */

#bitmoto.sale section div {display: inline-block;width: 46%;margin: auto;vertical-align: middle; padding:1%;}
#bitmoto.sale #shop {text-decoration: none;color: white;display: block;padding: 18px 0;margin: auto;text-align: center;font-size: 22px;font-weight: bold;}
#bitmoto.sale #cta {margin: 32px 0;border-top: 1px solid lightgray;padding: 18px 0 8px;}
#bitmoto.sale #cta1 {font-weight: bold;font-size: 34px;display: inline-block;width: 48%;text-align: center;}
#bitmoto.sale #cta2 {font-weight: bold;font-size: 34px;display: inline-block;width: 48%;text-align: center;}
#bitmoto.sale #cta a {display: inline-block;color: white;padding: 4%;border-radius: 8px; text-decoration:none;}
#bitmoto.sale section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.sale section p, #bitmoto.sale section h2, #bitmoto.sale section h3 {padding: 0 2%}
#bitmoto.sale section img {width:95%;margin:auto;padding:2%}
#bitmoto.sale .lease strong {font-size: 36px;}
#bitmoto.sale .lease span {font-size:24px;}


/* Vehicle Pages */

#bitmoto.vehicle #details {border-top: 1px solid #f0f0f0;margin: 8px auto;text-align: center;display: inline-block;width: 99%;}
#bitmoto.vehicle #details .one {padding: 8px 0;display: inline-block;width: 35%;margin: auto;vertical-align: bottom;color: #888888;}
#bitmoto.vehicle #details .two {padding: 8px 0;display: inline-block;width: 30%;margin: auto;font-size: 24px;}
#bitmoto.vehicle #details a {text-decoration:none;color:white;display:inline-block;padding:18px 0;width:95%;margin:auto}
#bitmoto.vehicle #details .one b {font-size:44px;color:#222222}
#bitmoto.vehicle section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.vehicle section div {display:inline-block;width:48%; margin: auto;vertical-align:middle}
#bitmoto.vehicle section p, #bitmoto.vehicle section h2, #bitmoto.vehicle section h3 {padding: 0 2%}
#bitmoto.vehicle section img {width:95%;margin:auto;padding:2%}
#bitmoto.vehicle #cta {margin: 32px 0;border-top: 1px solid lightgray;padding: 18px 0 8px;}
#bitmoto.vehicle #cta1 {font-weight: bold;font-size: 34px;display: inline-block;width: 48%;text-align: center;}
#bitmoto.vehicle #cta2 {font-weight: bold;font-size: 34px;display: inline-block;width: 48%;text-align: center;}
#bitmoto.vehicle #cta a {display: inline-block;color: white;padding: 4%;border-radius: 8px; text-decoration:none; width:98%;}


/* Service & Parts Pages */

#bitmoto.service #services {text-align:center;}
#bitmoto.service .service-row div {display:inline-block; width:30%; color:#000; max-width:300px;}
#bitmoto.service .service-row h3 {position:relative; top:38px; left: 0;background:white;padding:8px;margin:0;opacity:0.9;}
#bitmoto.service .service-row img {width:99%; margin:auto; max-height:160px;}
#bitmoto.service #hours {width:90%;margin:auto;}
#bitmoto.service #service-cta {text-align:center;font-weight: bold; font-size: 24px;}
#bitmoto.service #service-cta a {text-decoration:none;color:white;background-color: #000; display:inline-block;padding:22px 0; width:35%;margin: 0 4%;}
#bitmoto.service p, #bitmoto.service h2 {padding:1%;}
#bitmoto.service #services a {text-decoration:none;}
#bitmoto.service .service-row a {text-decoration:none;}


/* Ford Pages */

#bitmoto.ford #cta a {background: #29548c;}
#bitmoto.ford #shop {background: #2d96cd;}
#bitmoto.ford.vehicle #details .two a {background:#2d96cd;}

#bitmoto.ford nav {background-color:#a32a2a;}
#bitmoto.ford nav a {color: white;}
#bitmoto.ford.sale section {width: 99%;margin: 18px auto;border-top: 1px lightgray solid;padding: 14px 0;}

#bitmoto.ford.service #service-cta a {background-color: #232323;}


/* Fiat Sales Pages */

#bitmoto.fiat nav {width:100%;background-color:#941711;text-align:center;font-weight:bold;border-top:3px #999 solid;font-size:20px;min-width: 420px;}
#bitmoto.fiat nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.fiat.sales-event section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.fiat.sales-event section div {display:inline-block;width:48%; margin: auto;vertical-align:middle}
#bitmoto.fiat.sales-event section p, #bitmoto.fiat.sales-event section h2, #bitmoto.fiat.sales-event section h3 {padding: 0 2%}
#bitmoto.fiat.sales-event section img {width:95%;margin:auto;padding:2%}
#bitmoto.fiat.sales-event #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#2d96cd;margin:auto;text-align:center;font-size:22px;font-weight:bold}
#bitmoto.fiat.sales-event #shop:hover {background-color:#1e88bd;}
#bitmoto.fiat.sales-event #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.fiat.sales-event #cta1,#bitmoto.fiat.sales-event #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.fiat.sales-event #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.fiat.sales-event #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.fiat.sales-event #cta2 a {text-decoration:none}
#bitmoto.fiat.sales-event #cta2 span:hover {background-color:#1e88bd}

#bitmoto.fiat nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.fiat.sales section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.fiat.sales section div {display:inline-block;width:48%; margin: auto;vertical-align:middle}
#bitmoto.fiat.sales section p, #bitmoto.fiat.sales-event section h2, #bitmoto.fiat.sales-event section h3 {padding: 0 2%}
#bitmoto.fiat.sales section img {width:95%;margin:auto;padding:2%}
#bitmoto.fiat.sales #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#2d96cd;margin:auto;text-align:center;font-size:22px;font-weight:bold}
#bitmoto.fiat.sales #shop:hover {background-color:#1e88bd;}
#bitmoto.fiat.sales #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.fiat.sales #cta1,#bitmoto.fiat.sales #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.fiat.sales #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.fiat.sales #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.fiat.sales #cta2 a {text-decoration:none}
#bitmoto.fiat.sales #cta2 span:hover {background-color:#1e88bd}
#bitmoto.fiat #shop, #bitmotto.fiat #cta2 {background:#941711;}


/* Chevrolet */

#bitmoto.chevrolet h1 {font-size:28px;line-height:34px;margin:8px;padding:1%;}
#bitmoto.chevrolet nav, #bitmoto #nav {width:100%;background-color:#222;text-align:center;font-weight:bold;border-top:3px #999 solid;font-size:20px;min-width: 420px;}
#bitmoto.chevrolet nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.chevrolet.sale section p, #bitmoto.chevrolet.sale section h2, #bitmoto.chevrolet.sale section h3 {padding: 0 2%}
#bitmoto.chevrolet.sale #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#262626;-webkit-box-shadow: 0 2px 5px #666;box-shadow: 0 2px 5px #666;border-radius:5px;;margin:auto;text-align:center;font-size:22px;font-weight:bold;width:95%;}
#bitmoto.chevrolet.sale .shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#262626;-webkit-box-shadow: 0 2px 5px #666;box-shadow: 0 2px 5px #666;border-radius:5px;;margin:auto;text-align:center;font-size:22px;font-weight:bold;width:95%;}
#bitmoto.chevrolet.sale #shop:hover {background-color:#e8c15f;}
#bitmoto.chevrolet.sale .shop:hover {background-color:#e8c15f;}
#bitmoto.chevrolet #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.chevrolet #cta1, #bitmoto.chevrolet #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.chevrolet #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.chevrolet #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.chevrolet #cta2 a {text-decoration:none}
#bitmoto.chevrolet #cta2 span:hover {background-color:#1e88bd}

#bitmoto.chevrolet.vehicle #details a {background:#d4a748;}
#bitmoto.chevrolet.vehicle #details a:hover {background:#dbb26b;}


/* Chrysler */

#bitmoto.chrysler #shop {background:#333;}


/* Hyundai */

#bitmoto.hyundai #shop {background:#094481;}


/* Mazda */

#bitmoto.mazda #shop {background:#094481;}


/* Kia */

#bitmoto.kia h1 {font-size:28px;line-height:34px;margin:8px;padding:1%;}
#bitmoto.kia #nav {background-color:#C62233;font-weight:bold;border-top:3px #999 solid;font-size:20px;min-width: 420px;}
#bitmoto.kia #nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.kia.sale #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#C62233;-webkit-box-shadow: 0 2px 5px #666;box-shadow: 0 2px 5px #666;border-radius:5px;;margin:auto;text-align:center;font-size:22px;font-weight:bold}
#bitmoto.kia.sale #shop:hover {background-color:white;color:#C62233;border:#C62233 solid 1px; border-radius:4px;}
#bitmoto.kia.sale #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.kia.sale #cta1,#bitmoto.kia.sale #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.kia.sale #cta2 {background:#C62233;}
#bitmoto.kia.sale #cta2 span {display:inline-block;background-color:#C62233;color:white;padding:4%;border-radius:8px}
#bitmoto.kia.sale #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.kia.sale #cta2 a {text-decoration:none}
#bitmoto.kia.sale #cta2 span:hover {background-color:#1e88bd}

#bitmoto.kia.vehicle #details a {background-color:#C62233;}
#bitmoto.kia.vehicle #cta {margin:32px 0}
#bitmoto.kia.vehicle #cta1, #bitmoto.kia.vehicle #cta2 {font-weight:bold;font-size:35px;display:inline-block;width:49%;text-align:center}
#bitmoto.kia.vehicle #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.kia.vehicle #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.kia.vehicle #cta1 i {font-size:22px;color:#666666}
#bitmoto.kia.vehicle #cta2 a {text-decoration:none}
#bitmoto.kia.vehicle #cta2 span:hover {background-color: #1e88bd}

/* Lincoln */

#bitmoto.lincoln nav, #bitmoto.lincoln #shop, #bitmoto.lincoln .shop, #bitmoto.lincoln #cta2 {background:#222;}



/* Mobile Responsiveness */

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 640px) {
  #bitmoto.vehicle #vehicle div { }

}

@media screen and (max-width: 480px) {
  #bitmoto {width:98%; padding:1px; margin:0}
  #bitmoto iframe {width:99% !important;}
  #bitmoto #cta1, #bitmoto #cta2 {width: 99% !important;}
  #bitmoto nav, #bitmoto #nav {min-width:320px !important; font-size: 18px;}
  #bitmoto #vehicle {background-image: none !important;max-width:100% !important;}
  #bitmoto #vehicle div {position:relative !important; width:99% !important; top:0 !important;right:0 !important;
    margin:28px 0; text-align:center !important;}
  #bitmoto #details .one {width:99% !important;}
  #bitmoto #details .one strong {font-size:22px;}
  #bitmoto #details .two {width:99%;}
  #bitmoto.vehicle #details .two a {width:99%;}
  #bitmoto #vehicle div:nth-of-type(2) {background:#2eacf0; color:white; left:0 !important; padding:9px 0;}
  #bitmoto #vehicle div:nth-of-type(3) {font-size:22px !important;}
  #bitmoto #vehicle div:nth-of-type(3) strong {font-size:34px !important;}
  #bitmoto.service #service-cta a {margin: 8px auto; width:80%;}
  #bitmoto.service #hours {width:98%;margin:auto;}

}

@media screen and (max-width: 415px) {
  #bitmoto nav, #bitmoto #nav {max-width:100% !important; font-size: 17px;}
  #bitmoto nav a, #bitmoto #nav a {width:49% !important;}
  #bitmoto section div {width:99% !important;}

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}

