/* Devins Custom CSS for Bitmoto */

/* General Custom Pages */

#bitmoto {background-color:white;max-width:950px;margin: 0 auto 8px;padding:0 0 4px 0}
#bitmoto img {max-width:100%}
#bitmoto .highlight {width:95%;margin:18px auto;background-color:#f0f0f0;padding:14px 2%;color:#333;}

#bitmoto-signature {font-family:cursive;font-size:16px;color:#444;padding:4px}
#bitmoto-signature a {font-family:roboto,arial;text-decoration:none;color:#333;font-size:12px}
#bitmoto-signature a span {font-family:cursive;font-size:16px;color:#444;padding:4px}

#bitmoto.fiat {color:#333;}
#bitmoto.fiat nav {width:100%;background-color:#941711;text-align:center;font-weight:bold;border-top:3px #999 solid;font-size:20px;min-width: 420px;}
#bitmoto.fiat nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.fiat.sales-event .intro {background:#f0f0f0;width:95%;border-radius:4px;padding:2%;margin: 9px auto 2px}
#bitmoto.fiat.sales-event #vid {text-align:center;margin:auto;border-top:1px lightgray solid;padding:18px 0 0 0}
#bitmoto.fiat.sales-event iframe {margin:auto}
#bitmoto.fiat.sales-event section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.fiat.sales-event section div {display:inline-block;width:48%; margin: auto;vertical-align:middle}
#bitmoto.fiat.sales-event section p, #bitmoto.fiat.sales-event section h2, #bitmoto.fiat.sales-event section h3 {padding: 0 2%}
#bitmoto.fiat.sales-event section img {width:95%;margin:auto;padding:2%}
#bitmoto.fiat.sales-event #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#2d96cd;margin:auto;text-align:center;font-size:22px;font-weight:bold}
#bitmoto.fiat.sales-event #shop:hover {background-color:#1e88bd;}
#bitmoto.fiat.sales-event #disclaimer {color:gray;font-size:10px;margin:18px 0;border-top:1px solid #f0f0f0}
#bitmoto.fiat.sales-event #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.fiat.sales-event #cta1,#bitmoto.fiat.sales-event #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.fiat.sales-event #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.fiat.sales-event #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.fiat.sales-event #cta2 a {text-decoration:none}
#bitmoto.fiat.sales-event #cta2 span:hover {background-color:#1e88bd}

#bitmoto.chevrolet {color:#333;}
#bitmoto.chevrolet nav {width:100%;background-color:#222;text-align:center;font-weight:bold;border-top:3px #999 solid;font-size:20px;min-width: 420px;}
#bitmoto.chevrolet nav a {color:white;text-decoration:none;padding:10px 0;display:inline-block;width:23%;min-width:99px;}
#bitmoto.chevrolet.sale .intro {background:#f0f0f0;width:95%;border-radius:4px;padding:2%;margin: 9px auto 2px}
#bitmoto.chevrolet.sale #vid {text-align:center;margin:auto;border-top:1px lightgray solid;padding:18px 0 0 0}
#bitmoto.chevrolet.sale iframe {margin:auto}
#bitmoto.chevrolet.sale section {width:99%;margin:18px auto;border-top:1px lightgray solid;padding:14px 0}
#bitmoto.chevrolet.sale section div {display:inline-block;width:48%; margin: auto;vertical-align:middle}
#bitmoto.chevrolet.sale section p, #bitmoto.fiat.sales-event section h2, #bitmoto.fiat.sales-event section h3 {padding: 0 2%}
#bitmoto.chevrolet.sale section img {width:95%;margin:auto;padding:2%}
#bitmoto.chevrolet.sale #shop {text-decoration:none;color:white;display:block;padding:18px 0;background-color:#2d96cd;margin:auto;text-align:center;font-size:22px;font-weight:bold}
#bitmoto.chevrolet.sale #shop:hover {background-color:#262626;-webkit-box-shadow: 0 2px 5px #666;box-shadow: 0 2px 5px #666;border-radius:5px;}
#bitmoto.chevrolet.sale #disclaimer {color:gray;font-size:10px;margin:18px 0;border-top:1px solid #f0f0f0}
#bitmoto.chevrolet.sale #cta {margin:32px 0;border-top:1px solid lightgray;padding:18px 0 8px}
#bitmoto.chevrolet.sale #cta1,#bitmoto.fiat.sales-event #cta2 {font-weight:bold;font-size:34px;display:inline-block;width:48%;text-align:center}
#bitmoto.chevrolet.sale #cta2 span {display:inline-block;background-color:#29548c;color:white;padding:4%;border-radius:8px}
#bitmoto.chevrolet.sale #cta1 span {display:inline-block;color:#29548c;padding:4%;border-radius:8px}
#bitmoto.chevrolet.sale #cta2 a {text-decoration:none}
#bitmoto.chevrolet.sale #cta2 span:hover {background-color:#1e88bd}

/* Mobile Responsiveness */

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}

