
body {
    margin: 0;
    font-family:verdana;
    background: aliceblue;
}
header {
    background: #373737;
    color: white;
    padding: 1%;
    border-color: orange;
    border-style: solid;
    border-width: 0 0 2px 0;
}
header div {
    display: inline-block;
    width: 48%;
    margin: auto;
    vertical-align: top;
}

header div:nth-of-type(2) {
    text-align: right;
}

header hr {
    border-color: rgba(255,255,255,0.08);
}

header nav {
    text-align: center;
}

header nav a {
    color: white;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 1.5%;
}

header nav a.mute {
    background: rgba(255,255,255,0.1);
    color: rgba(0,0,0,0.5);
    cursor: default;
}

header nav ul a.mute {
    background: initial;
    color: rgba(0,0,0,0.2);
}

header nav ul a.mute:hover {
    background: none;
}

header nav ul {
    display: none;
    list-style-type: none;
    margin: 28px 0 0 0;
    text-align: left;
    padding: 16px 8px 16px 10%;
    position: absolute;
    background: orange;
    left: 0;
    width: 100%;
}


header nav ul li {
    margin: 16px ;
}

header nav ul a:hover {
    background: rgba(255,255,255,0.1);
}

header address {
    margin: 4px auto;
}

.dropdown {
    padding: 10px 0 10px 0;
}

.dropdown:hover ul {
    display: inline-block;
    z-index: 1;
}

img {
    max-width:100%;
}

#slider {
    background: #097FAB;
    min-height:200px;
    padding: 0 0 20px 0;
    text-align: center;
}

#featured {
    text-align: center;
}

#featured div {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 0 26px;
    width:24%;
    vertical-align: top;
}

#featured h3, #featured p {
    margin:0;
}

#featured1:hover, #featured2:hover, #featured3:hover, #featured4:hover {
    background: rgba(0,0,0,0.1);
}

footer {
    background: #444;
    color: white;
    margin: 0 auto 0;
    padding: 9px;
}

#footer {
    max-width: 999px;
    margin: auto;
}

#disclaimer {
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}

#footer ul {
    display: inline-block;
    margin: 17px auto;
    width: 27%;
}

#footer ul li {
    font-size: 14px;
    list-style-type: none;
    margin: 12px 2px 12px 6px;
}

#footer ul li:nth-of-type(1) {
    font-size: 17px;
    font-weight: bold;
    margin: 12px 2px 16px 0;
}

#bottomBar {
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    margin: 0 auto;
    padding: 6px 0 6px 8%;
}


/* CSS for Specials Page Only */

h2 {
    font-size: 21px;
}

#bitmoto {
    max-width: 950px;
    margin: 30px auto 8px;
    padding: 0 0 4px 0;
    color: #333;
}

#bitmoto.dealerMake.customSpecials nav {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    min-width: 420px;
}

#bitmoto.dealerMake.customSpecials nav a {
    display: inline-block;
    background: #333;
    padding: 8px 1%;
    color: white;
    font-size: 19px;
    width: 15%;
    margin: 2px 1%;
    cursor: pointer;
    text-decoration: none;
}

#bitmoto.dealerMake.customSpecials nav a:hover {
    background: #999;
    color: #111;
}

#bitmoto.dealerMake.customSpecials section {
    background: #d6d6d5;
    padding: 2%;
    margin: 2% auto;
}

#bitmoto.dealerMake.customSpecials section div {
    background: #EBEBEB;
}

#bitmoto.dealerMake.customSpecials section img {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#bitmoto.dealerMake.customSpecials .bm-vehicle-pricing {
    background: #ffffff;
    width: 100%;
    padding: 2% 0;
    margin: 2% auto;
    text-align: center;
}

#bitmoto.dealerMake.customSpecials #ctas {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 1%;
    text-align: center;
}

#bitmoto.dealerMake.customSpecials #ctas a:first-of-type {
    background: #20609F;
    border-color: #20609F;
}

#bitmoto.dealerMake.customSpecials #ctas a {
    color: white;
    background: #333;
    border: #333 solid 4px;
    padding: 2%;
    display: inline-block;
    width: 96%;
    margin: 4px auto;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}

#bitmoto.dealerMake.customSpecials #ctas a:first-of-type:hover {
    background: white;
    border-color: #20609F;
}

#bitmoto.dealerMake.customSpecials #ctas a:hover {
    background: white;
    border-color: #333;
    color: #333;
}

#bitmoto.dealerMake.customSpecials .bm-vehicle-pricing {
    background: #ffffff;
    width: 100%;
    padding: 2% 0;
    margin: 2% auto;
    text-align: center;
}

#bitmoto.dealerMake.customSpecials .bm-vehicle-pricing p {
    line-height: 19px;
    margin: 16px;
}

#bitmoto.dealerMake.customSpecials .bitmoBig {
    font-size: 36px;
    line-height: 38px;
    color: #20609F;
    font-weight: bold;
}

#bitmoto.dealerMake.customSpecials .bm-disclaimer {
    font-size: 12px;
    color: #222;
    text-align: center;
}
